-
	var contactsData = {
		text : `<p><b>ООО "Крепстрой"</b></p><p><b>Адрес:</b> <span class="info">СТРОЙХОЗТОВАРЫ,  наб. Обводного канала 24 лит. А</span><br><b>Телефон:</b> <span class="info">+7(905)210-10-05</span><br><b>E-mail:</b> <span class="info">krep.spb@mail.ru</span></p>`
	}