-
	var goods = [
		{
			id : 1,
			cid : '046346634634',
			name : "Мыло жидкое с глицерином Манго 0,5 л дозатор",
			measure : 'шт.',
			price : 150,
			photo : '/files/good.jpg',
			status : 1
		},{
			id : 2,
			cid : '046343534634',
			name : "Полотенца бумажные 2 - слойные МЯГКИЙ ЗНАК (упак 2шт) белые /24",
			measure : 'шт.',
			price : 250,
			photo : null,
			status : 0
		},{
			id : 3,
			cid : '046346634634',
			name : "Мыло жидкое с глицерином Манго 0,5 л дозатор",
			measure : 'шт.',
			price : 1550,
			photo : '/files/good.jpg',
			status : 1
		},{
			id : 4,
			cid : '046346634634',
			name : "Мыло жидкое с глицерином Манго 0,5 л дозатор",
			measure : 'шт.',
			price : 1550,
			photo : '/files/good.jpg',
			status : 1
		},{
			id : 5,
			cid : '046346634634',
			name : "Мыло жидкое с глицерином Манго 0,5 л дозатор",
			measure : 'шт.',
			price : 1550,
			photo : '/files/good.jpg',
			status : 1
		},{
			id : 6,
			cid : '046346634634',
			name : "Мыло жидкое с глицерином Манго 0,5 л дозатор",
			measure : 'шт.',
			price : 1550,
			photo : '/files/good.jpg',
			status : 1
		},{
			id : 7,
			cid : '046346634634',
			name : "Мыло жидкое с глицерином Манго 0,5 л дозатор",
			measure : 'шт.',
			price : 1550,
			photo : '/files/good.jpg',
			status : 1
		},{
			id : 8,
			cid : '046346634634',
			name : "Мыло жидкое с глицерином Манго 0,5 л дозатор",
			measure : 'шт.',
			price : 1550,
			photo : '/files/good.jpg',
			status : 1
		},{
			id : 9,
			cid : '046346634634',
			name : "Мыло жидкое с глицерином Манго 0,5 л дозатор",
			measure : 'шт.',
			price : 1550,
			photo : '/files/good.jpg',
			status : 1
		},{
			id : 10,
			cid : '046346634634',
			name : "Мыло жидкое с глицерином Манго 0,5 л дозатор",
			measure : 'шт.',
			price : 1550,
			photo : '/files/good.jpg',
			status : 1
		},{
			id : 11,
			cid : '046346634634',
			name : "Мыло жидкое с глицерином Манго 0,5 л дозатор",
			measure : 'шт.',
			price : 1550,
			photo : '/files/good.jpg',
			status : 1
		}
	]