- 
	var groups = 
		[{
			"_id"  : 1,
		    "name": "Дюбели, Гвозди",
		    "list": [
		    	{
		    		_id : 10,
		    		name : "Дюбель-гвоздь", 
		    	}, {
		    		_id : 11,
		    		name : "Рамный дюбель", 
		    	}, {
		    		_id : 12,
		    		name : "Гвозди"
		    	}
		    ]
		}, {
			"_id"  : 2,
		    "name": "Дюбели для теплоизоляции",
		    "list": [
		    	{
		    		_id : 20,
		    		name : "Дюбель-гвоздь", 
		    	}, {
		    		_id : 21,
		    		name : "Рамный дюбель", 
		    	}, {
		    		_id : 22,
		    		name : "Гвозди"
		    	}
		    ]
		}, {
			"_id"  : 3,
		    "name": "Саморезы",
		    "list": [
		    	{
		    		_id : 30,
		    		name : "Дюбель-гвоздь", 
		    	}, {
		    		_id : 31,
		    		name : "Рамный дюбель", 
		    	}, {
		    		_id : 32,
		    		name : "Гвозди"
		    	}
		    ]
		}, {
			"_id"  : 4,
		    "name": "Болты, гайки, шпильки, винты",
		    "list": [
		    	{
		    		_id : 40,
		    		name : "Дюбель-гвоздь", 
		    	}, {
		    		_id : 41,
		    		name : "Рамный дюбель", 
		    	}, {
		    		_id : 42,
		    		name : "Гвозди"
		    	}
		    ]
		}, {
			"_id"  : 5,
		    "name": "Строительный инструмент",
		    "list": [
		    	{
		    		_id : 50,
		    		name : "Дюбель-гвоздь", 
		    	}, {
		    		_id : 51,
		    		name : "Рамный дюбель", 
		    	}, {
		    		_id : 52,
		    		name : "Гвозди"
		    	}
		    ]
		}, {
			"_id"  : 6,
		    "name": "Профиль фасадный",
		    "list": [
		    	{
		    		_id : 60,
		    		name : "Дюбель-гвоздь", 
		    	}, {
		    		_id : 61,
		    		name : "Рамный дюбель", 
		    	}, {
		    		_id : 62,
		    		name : "Гвозди"
		    	}
		    ]
		}, {
			"_id"  : 7,
		    "name": "Пены, герметики",
		    "list": [
		    	{
		    		_id : 70,
		    		name : "Дюбель-гвоздь", 
		    	}, {
		    		_id : 71,
		    		name : "Рамный дюбель", 
		    	}, {
		    		_id : 72,
		    		name : "Гвозди"
		    	}
		    ]
		}, {
			"_id"  : 8,
		    "name": "Анкеры",
		    "list": [
		    	{
		    		_id : 80,
		    		name : "Дюбель-гвоздь", 
		    	}, {
		    		_id : 81,
		    		name : "Рамный дюбель", 
		    	}, {
		    		_id : 82,
		    		name : "Гвозди"
		    	}
		    ]
		}];