- 
	var groups = 
		[{
			"id"  : 1,
		    "name": "Дюбели, Гвозди",
		    "list": [
		    	{
		    		id : 10,
		    		name : "Дюбель-гвоздь", 
		    	}, {
		    		id : 11,
		    		name : "Рамный дюбель", 
		    	}, {
		    		id : 12,
		    		name : "Гвозди"
		    	}
		    ]
		}, {
			"id"  : 2,
		    "name": "Дюбели для теплоизоляции",
		    "list": [
		    	{
		    		id : 20,
		    		name : "Дюбель-гвоздь", 
		    	}, {
		    		id : 21,
		    		name : "Рамный дюбель", 
		    	}, {
		    		id : 22,
		    		name : "Гвозди"
		    	}
		    ]
		}, {
			"id"  : 3,
		    "name": "Саморезы",
		    "list": [
		    	{
		    		id : 30,
		    		name : "Дюбель-гвоздь", 
		    	}, {
		    		id : 31,
		    		name : "Рамный дюбель", 
		    	}, {
		    		id : 32,
		    		name : "Гвозди"
		    	}
		    ]
		}, {
			"id"  : 4,
		    "name": "Болты, гайки, шпильки, винты",
		    "list": [
		    	{
		    		id : 40,
		    		name : "Дюбель-гвоздь", 
		    	}, {
		    		id : 41,
		    		name : "Рамный дюбель", 
		    	}, {
		    		id : 42,
		    		name : "Гвозди"
		    	}
		    ]
		}, {
			"id"  : 5,
		    "name": "Строительный инструмент",
		    "list": [
		    	{
		    		id : 50,
		    		name : "Дюбель-гвоздь", 
		    	}, {
		    		id : 51,
		    		name : "Рамный дюбель", 
		    	}, {
		    		id : 52,
		    		name : "Гвозди"
		    	}
		    ]
		}, {
			"id"  : 6,
		    "name": "Профиль фасадный",
		    "list": [
		    	{
		    		id : 60,
		    		name : "Дюбель-гвоздь", 
		    	}, {
		    		id : 61,
		    		name : "Рамный дюбель", 
		    	}, {
		    		id : 62,
		    		name : "Гвозди"
		    	}
		    ]
		}, {
			"id"  : 7,
		    "name": "Пены, герметики",
		    "list": [
		    	{
		    		id : 70,
		    		name : "Дюбель-гвоздь", 
		    	}, {
		    		id : 71,
		    		name : "Рамный дюбель", 
		    	}, {
		    		id : 72,
		    		name : "Гвозди"
		    	}
		    ]
		}, {
			"id"  : 8,
		    "name": "Анкеры",
		    "list": [
		    	{
		    		id : 80,
		    		name : "Дюбель-гвоздь", 
		    	}, {
		    		id : 81,
		    		name : "Рамный дюбель", 
		    	}, {
		    		id : 82,
		    		name : "Гвозди"
		    	}
		    ]
		}];