-
	var newsData = [
		{
			id : 1,
			title : "Новые условия",
			short : "Мы предоставляем новую упрощенную поцедуру оформления заказа",
			date : '23/05',
			alias : 'conditions',
			desc :  `<p>Идея основного дохода, который выплачивался бы всем, не привлекла швейцарцев, - указывает SRG. - 76,9% из них отвергли эту общественную инициативу, выдвинутую комитетом граждан без какой-либо политической принадлежности. Все кантоны с большим перевесом голосов также ее отклонили".</p><p>Сторонникам реформы, в соответствии с которой всем жителям Швейцарии гарантировалось бы получение пособия в размере, по некоторым оценкам, 2,5 тысячи франков (€2260) в месяц на взрослого и 625 франков (€565) на ребенка, не удалось убедить сограждан в ее пользе. Несмотря на внешнюю привлекательность этой идеи, большинство избирателей последовали призывам правительства, которое предупредило, что потребуется увеличить налоги для изыскания более 200 млрд франков на выплаты гарантированного дохода.</p><p>Подробнее на <a href=http://tass.ru/mezhdunarodnaya-panorama/3340602">ТАСС</a></p>`
		},{
			id : 2,
			title : "О доставке",
			date : "16/05",
			alias : "delivery",
			short : "Новый прайс на доставку",
			desc :  `<p>Идея основного дохода, который выплачивался бы всем, не привлекла швейцарцев, - указывает SRG. - 76,9% из них отвергли эту общественную инициативу, выдвинутую комитетом граждан без какой-либо политической принадлежности. Все кантоны с большим перевесом голосов также ее отклонили".</p><p>Сторонникам реформы, в соответствии с которой всем жителям Швейцарии гарантировалось бы получение пособия в размере, по некоторым оценкам, 2,5 тысячи франков (€2260) в месяц на взрослого и 625 франков (€565) на ребенка, не удалось убедить сограждан в ее пользе. Несмотря на внешнюю привлекательность этой идеи, большинство избирателей последовали призывам правительства, которое предупредило, что потребуется увеличить налоги для изыскания более 200 млрд франков на выплаты гарантированного дохода.</p><p>Подробнее на <a href=http://tass.ru/mezhdunarodnaya-panorama/3340602">ТАСС</a></p>`
		},{
			id : 3,
			title : "Победа!",
			date : '06/05',
			alias : "win",
			short : "Победа в каком то престижном конкурсе",
			desc :  `<p>Идея основного дохода, который выплачивался бы всем, не привлекла швейцарцев, - указывает SRG. - 76,9% из них отвергли эту общественную инициативу, выдвинутую комитетом граждан без какой-либо политической принадлежности. Все кантоны с большим перевесом голосов также ее отклонили".</p><p>Сторонникам реформы, в соответствии с которой всем жителям Швейцарии гарантировалось бы получение пособия в размере, по некоторым оценкам, 2,5 тысячи франков (€2260) в месяц на взрослого и 625 франков (€565) на ребенка, не удалось убедить сограждан в ее пользе. Несмотря на внешнюю привлекательность этой идеи, большинство избирателей последовали призывам правительства, которое предупредило, что потребуется увеличить налоги для изыскания более 200 млрд франков на выплаты гарантированного дохода.</p><p>Подробнее на <a href=http://tass.ru/mezhdunarodnaya-panorama/3340602">ТАСС</a></p>`
		}


	]