include ./goodsData
-
	var basket = [
		{
			id : goods[0].id,
			count : 5,
			good : goods[0]
		},
		{
			id : goods[1].id,
			count : 10,
			good : goods[1]
		},
		{
			id : goods[2].id,
			count : 154,
			good : goods[2]
		}
	];