- 
	var groups = [
		{
			name : "Бумажные полотенца, туалетная бумага",
			id   : 3,
			alias: 'paper',
			image: '/files/cat3.jpg',
			count: 12
		},
		{
			name : "Для мытья и уборки",
			id   : 4,
			alias: 'clear',
			image: '/files/cat4.jpg',
			count: 155
		},
		{
			name : "Одноразовая посуда",
			id   : 5,
			alias: 'onetime',
			image: '/files/cat6.jpg',
			count: 11
		}
	]