.nav
  .nav__link.nav__link_current
    a(href='/catalog') Каталог
  .nav__link.nav__link
    a(href='/contacts') Контакты
  .nav__link.nav__link
    a(href='/certificates') Сертификаты
  .nav__link.nav__link
    a(href='/feedback') Обратная связь