.feedback
	&__field
		margin-bottom 10px
		
	&__label
		display block
		
	&__input
		width 400px
		padding 10px
		font-family inherit
		border-radius 5px
		border none
		background-color $grayColor
		margin-bottom 10px
		
		textarea&
			min-height 50px
		
	&__submit
		width 100px
		