mixin feedback
	form.feedback(action="/feedback" method="POST")
		.feedback__field
			label.feedback__label(for="who") Контактное лицо
			input.feedback__input(id="who" required)
		.feedback__field
			label.feedback__label(for="message") Сообщение
			textarea.feedback__input(id="message" required)
		.feedback__field
			label.feedback__label(for="contacts") Контактные данные
			textarea.feedback__input(id="contacts" required)

		button.feedback__submit(type="submit") Отправить