@import '../blocks/basket'
@import '../blocks/banner'
@import '../blocks/groups'
@import '../blocks/tiles'
@import '../blocks/breadcrumbs'
@import '../blocks/nav'
@import '../blocks/news'
@import '../blocks/phone'
@import '../blocks/goods'
@import '../blocks/good'
@import '../blocks/fullnews'