include ../blocks/banner/banner
include ../blocks/basket/basket
include ../blocks/groups/groups
include ../blocks/news/news
include ../blocks/phone/phone
include ../blocks/tiles/tiles
include ../blocks/nav/nav
include ../blocks/breadcrumbs/breadcrumbs 
include ../blocks/goods/goods
include ../blocks/good/good
include ../blocks/fullnews/fullnews
include ../blocks/feedback/feedback