.basket
	&__box
		background-color $brightColor
		position absolute
		top 0px
		right 0px
		height 30px
		line-height 33px
		padding:10px 10px 10px 50px
		border-radius 0 0 10px 10px
		
		&__logo
			background transparent url('/img/basket.png') center no-repeat
			width 30px
			height 30px
			position: absolute
			z-index 1
			top 10px
			left 10px
			
		&__text
			color: $grayFontColor
			