

// colors
$backgroundColor    = white
$grayColor          = #e9e9e9
$darkGrayColor      = #dadada
$darkColor          = #5a739b
$brightColor        = #629dd9
$lightColor         = #a0c6ec
$activeColor        = #ff923a

$fontColor          = #444
$grayFontColor 		= white
$darkFontColor      = #5a739b
$lightFontColor     = #a0c6ec
$disableFontColor   = #a9a9a9
$activeFontColor    = #ff923a