.header
	z-index 5

.header
.footer
	margin : 0
	
	&__wrapper
		height 193px
		position relative

.logo
	background 	: url(/img/logo2.png) no-repeat left bottom
	background-size contain
	height		: 90px
	width		: 230px 
	left	: 0px
	bottom 20px
	position absolute
	
	@media screen and (max-width: $sm)
		bottom 55px
		height 80px
		
		
	@media screen and (max-width: $xxs)
		bottom 80px
		width 200px
		
	@media screen and (max-width: $xxs)
		bottom 90px
		width 150px
	

		
$footerBottom = 30px
.footer
	
	&__wrapper
		height 130px
	
		.nav
		.phone
			top 70px
		
		.phone
			margin-top -5px
			@media screen and (max-width: $xs)
				top 40px
				
		.nav
			@media screen and (max-width: $sm)
				bottom auto
				top 70px
	
.copyright
	white-space pre-wrap
	font-size .8em
	color $darkFontColor
	top 47px
	position: absolute
	
	@media screen and (max-width: $sm)
		bottom auto
		top 20px