.header
.footer
	margin : 0
	
	&__wrapper
		height 193px
		position relative

.logo
	background 	: url(/img/logo.png) no-repeat bottom
	background-size contain
	height		: 50px
	width		: 230px 
	left	: 0px
	bottom 25px
	position absolute
	
	@media screen and (max-width: $sm)
		bottom 70px
		
	@media screen and (max-width: $xxs)
		bottom 80px
		width 200px
		
	@media screen and (max-width: $xxs)
		bottom 90px
		width 150px
	
.nav
	boldFont() 
	white-space nowrap
	display flex
	flex-flow row wrap
	justify-content space-between
	width 460px
	max-width 100%
	margin-left : 300px
	position absolute
	bottom 20px
	
	&__link
		display 		: inline-block
		margin-right 20px
		> a
			text-decoration	: none
			color 			: $darkFontColor
		
		&_current
			> a
				color $disableFontColor
				

	@media screen and (max-width: $sm)
		margin-left 0
		

.phone
	position absolute
	right 0px
	bottom 20px
	margin-bottom -2px
	color $darkFontColor
	&__pre
		defaultFont()
		font-size 1em
		
		margin-right 4px
	&__main
		headerFont()
		font-size 1.5em
		
	@media screen and (max-width: $xs)
		top auto
		bottom 70px
		
	@media screen and (max-width: $xxs)
		bottom 85px
		font-size .8em


$searchHeight = 27px	
.search
	width 300px
	background-color $darkGrayColor
	border-radius 6px
	line-height $searchHeight
	position: relative
	top 20px
	
	&__form
		&__input
			padding: 0 $searchHeight+5px 0 10px
			box-sizing border-box
			width 100%
			
			&::-webkit-input-placeholder
				color: $grayFontColor

		&__input
		&__submit
			background-color transparent
			border 0
			font inherit
				
			&:focus
				outline none
			
		&__submit
			font-size 0
			background transparent url('/img/search.png') center no-repeat
			padding 0
			width $searchHeight
			height $searchHeight
			position: absolute
			z-index 2
			right 2px
			top 0px
	
	@media screen and (max-width: $xs)
		width 200px
		
	@media screen and (max-width: $xxxs)
		width 150px

		
$footerBottom = 30px
.footer
	
	&__wrapper
		height 130px
	
		.nav
		.phone
			top 70px
		
		.phone
			margin-top -5px
			@media screen and (max-width: $xs)
				top 40px
				
		.nav
			@media screen and (max-width: $sm)
				bottom auto
				top 70px
	
.copyright
	white-space pre-wrap
	font-size .8em
	color $darkFontColor
	top 47px
	position: absolute
	
	@media screen and (max-width: $sm)
		bottom auto
		top 20px