@import fonts
@import colors

$xxs= 600px
$xs = 800px
$sm = 1000px
$md = 1200px

body
	font: $fontSize $defaultFont
	color: $fontColor
	margin: 0
	
.__wrapper
	position relative
	margin-left 20px
	margin-right 20px
			

	@media screen and (min-width: $sm)
		width 960px
		margin-left auto
		margin-right auto
		
	@media screen and (min-width: $md)
		width 1100px

@import header
@import basket
@import '../blocks/banner/banner'

a
	color $darkFontColor

	&:hover
		color $lightFontColor

.main
	margin 80px 0 0 0
	
	&__wrapper
		display flex
		flex-direction row

$sidebarWidth = 260px
.sidebar
	~ .main-container
		margin-left 30px
		
.main-container
	flex-grow 1
	position relative
	
.block
	textFont()
	
h1
	headerFont()
		

@import '../blocks/groups/groups'
@import '../blocks/tiles/tiles'


.maintextblock
	display flex
	
	> .block_about
		width 70%
		padding-right 40px
		
	> .block_news
		width 30%
		
//news
.news
	margin-bottom 10px
	
	&__date
		color $disableFontColor
		display inline
		margin-right 3px
	&__title
		display inline
		
	&__text
		smallFont()
		