@import fonts
@import colors

$xxxs = 400px
$xxs = 500px
$xs = 700px
$sm = 1000px
$md = 1200px

body
	font: $fontSize $defaultFont
	color: $fontColor
	background-color: $grayColor
	margin: 0
	min-width 320px
	
.__wrapper
	position relative
	margin-left 20px
	margin-right 20px
			

	@media screen and (min-width: $sm)
		width 960px
		margin-left auto
		margin-right auto
		
	@media screen and (min-width: $md)
		width 1100px

@import header

a
	color $darkFontColor

	&:hover
		color $lightFontColor
		
button
	border 0
	background-color $activeColor
	border-radius 5px
	padding 10px
	color $grayFontColor
	cursor pointer
	
	&:hover
		background-color $brightColor

.main
	background-color $backgroundColor
	padding 30px 0 50px 0
	overflow hidden
	
	&__wrapper
		display flex
		flex-direction row

$sidebarWidth = 240px
.sidebar
	~ .main-container
		margin-left 50px
		
.main-container
	flex-grow 1
	position relative
	
.block
	textFont()
	
h1
	headerFont()
h2
	headerFont()
		



.maintextblock
	display flex
	flex-flow row wrap
	
	> .block_about
		width 70%
		box-sizing border-box
		padding-right 40px
		@media screen and (max-width: $xs)
			width 60%
		@media screen and (max-width: $xxs)
			width 100%
		
	> .block_news
		width 30%
		@media screen and (max-width: $xs)
			width 40%
		@media screen and (max-width: $xxs)
			width 100%
			
@import '../blocks/index';


.block-feedback
	margin-top 50px 