extends ../layout

block prepend column
	.sidebar
		include ../data/groups
		-
			var obj = groups.find(obj => obj.id === 4);
			obj && (obj.active = true);
		+groups(groups)

block content
	.block.block_breasdcrumbs
		-
			var breadcrumbs = [
				{
					name : "Болты, гайки, шпильки, винты",
					href : "category.html"
				}
			]
		+breadcrumbs(breadcrumbs)

	.block.block_tiles
		include ../data/tilesCategory
		+tiles(groups, {left : true})
