include ../data/groupsSub
-
	var breadcrumbs = [
		{
			name : "Болты, гайки, шпильки, винты",
			href : "category.html"
		},
		{
			name : "Рамный дюбель",
			href : "subcat.html"
		}
	]
include ../data/goodsData
include ../layouts/subcat
