extends ../layout

block prepend column
	.sidebar
		include ../data/groupsSub
		+groups(groups)

block content
	.block.block_breadcrumbs
		-
			var breadcrumbs = [
				{
					name : "Болты, гайки, шпильки, винты",
					href : "category.html"
				},
				{
					name : "Рамный дюбель",
					href : "subcat.html"
				}
			]
		+breadcrumbs(breadcrumbs)

	.block.block_goods
		include ../data/goodsData
		+goods(goods)
