extends ../layout
block banner
	//+banner

block content
	.block.block_tiles
		+tiles(groups)

	.maintextblock
		.block.block_about
			h1 О компании
			| !{mainText}

		.block.block_news
			+news(newsData)