doctype html
html
  include ./blocks/head.pug
  body
    .basket
      .basket__wrapper.__wrapper
        .basket__box
          .basket__box__logo
          .basket__box__text в корзине 17 товаров

    include ./blocks/header.pug
    include ./blocks/banner.pug