doctype html
html
  head
    title КРЕПСТРОЙ
    link(rel='stylesheet', type='text/css', href='/css/style.css')
  body
    .basket
      .basket__wrapper.__wrapper
        .basket__box
          .basket__box__logo
          .basket__box__text в корзине 17 товаров
    .header
      .header__wrapper.__wrapper
        .search
          form.search__form(method='post', action='/search')
            input.search__form__input(type='text', placeholder='Поиск по наименованию')
            input.search__form__submit(type='submit', value='send')
        .logo
        .nav
          .nav__link.nav__link_current
            a(href='/catalog') Каталог
          .nav__link.nav__link
            a(href='/contacts') Контакты
          .nav__link.nav__link
            a(href='/certificates') Сертификаты
          .nav__link.nav__link
            a(href='/feedback') Обратная связь
        .phone
          span.phone__pre +7 (812)
          span.phone__main 575-56-56
