include ../blocks/index 

doctype html
html
	head
		title Мелодия чистоты
		link(rel="icon", type="image/png", href="/img/favicon.png")
		link(rel='stylesheet', type='text/css', href='/build/index.css')
		script(type="text/javascript", src="/build/index.js")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body 
		+basket(basket && basket.length)

		.header
			.header__wrapper.__wrapper
				+search
				a.logo(href="/")
				+nav
				+phone


		block banner
		.main
			.main__wrapper.__wrapper
				block column
					.main-container
						block content

		.footer
			.footer__wrapper.__wrapper
				+nav
				+phone
				.copyright
					| &copy; 2004&ndash;2016
					| &laquo;Крепстрой&raquo;
					| профессиональный крепёж