mixin tiles(groups, options)
	.tiles
		each item in groups
			a.tiles__item(
				data-id=item.id
				href="/"+item.alias
			)
				.tiles__item__image(
					style={
						'background-image' : 'url(' + item.image + ')'
					} 
				)
				.tiles__item__name
					=item.name
				.tiles__item__count (#{item.count})
