.tiles
	display flex
	flex-flow row wrap
	align-items stretch
	align-content stretch
	
	
	
	&__item
		width 25%
		padding 5px
		box-sizing border-box
		text-align center
		text-decoration none
		margin-bottom 40px
		border 1px solid transparent
	
		&:hover
			border-color $lightFontColor
		
		&__image
			width 100%
			height 200px
			background-size contain
			background-position center
			background-repeat no-repeat
			margin-bottom 5px
			
		&__name
			display inline

		&__count
			display inline
			color $disableFontColor
			margin-left 3px
			
		@media screen and (max-width: $xs)
			width 33.333%
			font-size .8em
			margin-bottom 20px
			
		@media screen and (max-width: $xxs)
			width 50%
			margin-bottom 0