mixin nav
	-
		var navs = [
			{path : '/', name : 'Главная'},
			{path : '/news', name : "Новости"},
			{path : '/contacts', name : "Контакты"},
		];

	.nav
		each nav in navs
			.nav__link(
				class={
					nav__link_current : request.baseUrl + request.path == nav.path
				}
			)
				a(href=nav.path) #{nav.name}